.{group} {{
    background-image: -webkit-linear-gradient(top left, {color1}, {color2});
    background-image: linear-gradient(to bottom right, {color1}, {color2});
    border: solid 1px #444444;
    border-radius: 4px;
    font-family: Ubuntu Mono;
    font-size: 11pt;
    padding: 4px;
    display: inline-block
}}
